<!DOCTYPE html>
<html>


<!-- Mirrored from www.zi-han.net/theme/hplus/table_basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:20:01 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>车辆信息表</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="~/MyJsCss/kkpager/kkpager_blue.css" rel="stylesheet" />

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>车辆信息表</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9" style="display: none">
                                <button type="button" class="btn btn-sm btn-primary" onclick="AddRoles()"> 创建车辆信息</button>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group" style="display: none">
                                    <input type="text" id="Id" placeholder="请输入车辆ID" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" onclick="Sub(1)"> 搜索</button>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>车辆ID</th>
                                    <th>城市代码</th>
                                    <th>经度</th>
                                    <th>纬度</th>
                                    <th>速度(千米/时)</th>
                                    <th>方向(度)</th>
                                    <th>最后定位时间</th>
                                    <th>车辆类型</th>

                                </tr>
                            </thead>
                            <tbody id="tables"></tbody>
                        </table>
                        <div id="kkpager"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="/js/content.min.js?v=1.0.0"></script>
    <script src="/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/js/demo/peity-demo.min.js"></script>
    <script src="~/MyJsCss/kkpager/kkpager.js"></script>
    <script src="~/scripts/Vehicle/Vehicle.js"></script>
    <script type="text/javascript">
        jQuery(function () {
            Vehicle.getPageList();
        });

    </script>
    <script>
        $(document).ready(function () { $(".i-checks").iCheck({ checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green", }) });
    </script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
</body>


<!-- Mirrored from www.zi-han.net/theme/hplus/table_basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:20:01 GMT -->
</html>
